/.idea/.idea.DishesAPI/.idea/.gitignore
/.idea/.idea.DishesAPI/.idea/.name
/.idea/.idea.DishesAPI/.idea/aws.xml
/.idea/.idea.DishesAPI/.idea/dataSources.xml
/.idea/.idea.DishesAPI/.idea/encodings.xml
/.idea/.idea.DishesAPI/.idea/indexLayout.xml
/.idea/config/applicationhost.config
